.input{
    font-weight: bold;
    font-size: 10px;
}

.inputLabel{
    font-weight: bold;
    font-size: 10px;
    color: grey;
    margin-left: 0.5em;
}

.buttonAdd{
    align-items: botton;
}

.table-col{
    font-weight: bold;
    font-size: 10px;
    color: grey;
    margin-left: 0.5em;
}

.modalH2{
    font-weight: bold;
    font-size: 20px;
    color: grey;
}

.modalList{
    margin-top: 1em;
    margin-bottom: 1em;
}

::-webkit-scrollbar {
    border-left: 5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 5px;
}