.col-grid{
    width:10%;
    border:0.5px solid #bbb;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    color: grey;
}

.grid {
    border:0.5px solid #bbb;
    border-radius: 5px;
}

.inputChar{
    font-weight: bold;
    font-size: 10px;
}

.inputLabel{
    font-weight: bold;
    font-size: 10px;
    color: grey;
    margin-left: 0.5em;
}

