<div class="row align-items-center mt-5">
	<div class="col-sm-5"></div>
	<div class="col-sm-2 d-flex justify-content-center">
			<div class="col-live d-flex justify-content-center"><span [style.background-color]="live ? 'green': 'red'" class="dot"></span>LIVE</div>
	</div>
	<div class="col-sm-5"></div>
</div>
<div class="row align-items-center mt-2">
	<div class="col-sm-5"></div>
	<div class="col-sm-2 d-flex justify-content-center">
			<div class="col-code d-flex justify-content-center">YOUR CODE: {{ code1 }}{{ code2 }}</div>
	</div>
	<div class="col-sm-5"></div>
</div>

